[project]
	description = React???
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/fengzhongye (fengzhongye)
[access "refs/for/refs/*"]
	read = group user/fengzhongye (fengzhongye)
	push = group user/fengzhongye (fengzhongye)
	label-Code-Review = -2..+2 group user/fengzhongye (fengzhongye)
	label-Verified = -1..+1 group user/fengzhongye (fengzhongye)
	rebase = group user/fengzhongye (fengzhongye)
	removeReviewer = group user/fengzhongye (fengzhongye)
	submit = group user/fengzhongye (fengzhongye)
[access "refs/heads/*"]
	read = group user/fengzhongye (fengzhongye)
	create = group user/fengzhongye (fengzhongye)
	push = +force group user/fengzhongye (fengzhongye)
	pushMerge = group user/fengzhongye (fengzhongye)
[access "refs/tags/*"]
	push = group user/fengzhongye (fengzhongye)
	push = +force group user/fengzhongye (fengzhongye)
